/simuladorPlanificador/nbproject/private/
/JavaApplication2/nbproject/private/
/simuladorProcesos/nbproject/private/
/Simulador/nbproject/private/
/SimuladorProcesos/nbproject/private/
/SimuladorProcesos/build/
